body {
    width: -10px;
    margin: 99;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgb(255, 0, 0);
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo a {
    color: #3c0d3d;
    text-decoration: none;
    font-size: 99px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    margin-right: 20px;

}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: bisque;
}

.nav-links li a:hover {

}